<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="mb-4 text-center">Decode Message</h1>
                <form method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="image" class="form-label">Select Image:</label>
                        <input type="file" class="form-control-file" id="image" name="image" required>
                    </div>
                    <div class="text-center mt-4">
                        <input type="submit" class="btn btn-primary" value="Decode">
                    </div>
                </form>
                {% if decoded_message %}
                    <div class="alert alert-success mt-4">
                        <h4 class="alert-heading">Decoded Message:</h4>
                        <p>{{ decoded_message }}</p>
                    </div>
                    <div class="text-center mt-4">
                        <a href="{{ url_for('encode') }}" class="btn btn-secondary">Encode Another Message</a>
                        <a href="{{ url_for('home') }}" class="btn btn-info">Home</a>
                        <a href="{{ url_for('account') }}" class="btn btn-outline-primary">Account</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
